<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gradproject">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.GradProject">
        <activity
            android:name=".ui.DatilesProductActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ProfilePosActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ProductPosActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SittingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ProfileCompanyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.AuthPOS.LoginPosActivity"
            android:exported="false" />
        <activity
            android:name=".ui.AuthPOS.RegisterPosActivity"
            android:exported="false" />
        <activity
            android:name=".ui.AddOrderPosActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ForgetPasswordActivityVE"
            android:exported="false" />
        <activity
            android:name=".ui.ForgetPasswordActivityCHP"
            android:exported="false" />
        <activity
            android:name=".ui.PosNavigationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.AddProductActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ChoeseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>